<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griffins Geoffrey Adero - Software Engineer & Web Developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="stylesheet" href="./css/aboutus.css">

    <style>
        body{
            font-family: 'Rubik';
        }
    </style>
</head>

<body>

    <header>
        <div style="font-size: 42px;"><i class="fa fa-heartbeat" aria-hidden="true" style="color: #B53389; margin-top: 20px;"></i>
              Donation Hub</div>
        <div id="nav">
            <a href="/home-page">HOME</a>
            <a href="/donate-page"  >DONATE</a>
            <a href="/aboutus-page" class="current-page">ABOUT US</a>
            <a href="/centers-page">CENTERS</a>
            <a href="/contact-us-page">CONTACT US</a>
        </div>
    </header>

    <div id="socials-links">
        
        <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a><br>
        <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
        <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true"></i></a><br>
        <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>

    <div id="#mainbody" style="height:800px; margin-left: 80px; margin-top: 100px; font-size:28px; color: #B53389; font-family: 'Rubik';" >
        <div id="profile">
            <form action="/profile-page"><button id="user"><i class="fa fa-user-circle" aria-hidden="true"> </i>    User Profile</button> </form>
           <form action="/logout"> <button id="logout"> Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button></form>
        </div>
        <h4 style="text-align: center;" >ABOUT US</h4>
        <p style="text-align: center; padding-left: 220px; padding-right: 130px; font-size:25px; font-family: 'Rubik'; margin-top: -20px; width: 60%;" >
            Clothing Hub is a community dedicated to serving the underprivileged through clothing donations.
              Our mission is to empower and uplift disadvantaged communities by ensuring access to clean, quality clothing.
              With your support and collaboration with local communities, organizations, and volunteers, we strive to make a lasting impact in the lives of
              those we serve.Together, we can extend warmth and hope to individuals and families,
               one piece of clothing at a time.
        </p>

        <h4 style="text-align: center; margin-top: 60px;">EVENTS AND ACTIVITIES</h4>
        
        <p style="text-align: center; padding-left: 220px; padding-right: 130px; font-size:25px; font-family: 'Rubik'; margin-top: -20px; width: 60%;" >
            The Clothing Hub hosts a range of events and activities to support the underprivileged community. These include clothing collection,
             washing, sorting, and distribution to various groups in need, such as children's homes, orphanages, and facilities for the elderly
              and special needs individuals. Additionally, we organize community outreach events like sanitation drives, sports activities, and
               Clothing Hub community meetings. Through these initiatives, we aim to provide essential resources and foster a sense of unity and
                support within our communities.
           
        </p>
        
        
    </div>

    </div>

    <footer>
        <div id="contacts">
            <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true" style="color: #000"></i></a>  &nbsp;  &nbsp;
            <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true" style="color: #000;"></i></a>
            <p><i class="fa fa-phone" aria-hidden="true"></i>: &nbsp; +254719508717 <br>
            <i class="fa fa-envelope" aria-hidden="true"></i>: &nbsp; donationhub@gmail.com <br>
            &copy; 2024 Donation Hub Inc. All rights reserved.</p>
        </div>
        
        
    </footer>

</body>

</html>
