<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griffins Geoffrey Adero - Software Engineer & Web Developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="stylesheet" href="./css/activities.css">
    <style>
        body{
            font-family: 'Rubik';
        }
    </style>

    
</head>

<body>

    <header>
        <div style="font-size: 42px;"><i class="fa fa-heartbeat" aria-hidden="true" style="color: #B53389; margin-top: 20px;"></i>
              Donation Hub</div>
        <div id="nav">
            <a href="/home-page" class="current-page">HOME</a>
            <a href="/donate-page"  >DONATE</a>
            <a href="/aboutus-page" >ABOUT US</a>
            <a href="/centers-page">CENTERS</a>
            <a href="/contact-us-page">CONTACT US</a>
        </div>
    </header>

    <div id="socials-links">
        
        <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a><br>
        <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
        <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true"></i></a><br>
        <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>

    <div id="#mainbody" style="height:800px; margin-left: 80px; margin-top: 100px; font-size:28px; color: #B53389; font-family: 'Rubik';" >
        <div id="profile">
            <button id="user" action="profile.html"><i class="fa fa-user-circle" aria-hidden="true"> </i>    User Profile</button> 
            <button id="logout" action="/logout"> Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
        
        <div> 
          <h4>Welcome back, Griffins</h4>
          <p>Upcoming Events</p>
        </div>
  
    </div>

    </div>

    <footer>
        <div id="contacts">
            <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true" style="color: #000"></i></a>  &nbsp;  &nbsp;
            <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true" style="color: #000;"></i></a>
            <p><i class="fa fa-phone" aria-hidden="true"></i>: &nbsp; +254719508717 <br>
            <i class="fa fa-envelope" aria-hidden="true"></i>: &nbsp; donationhub@gmail.com <br>
            &copy; 2024 Donation Hub Inc. All rights reserved.</p>
        </div>
        
        
    </footer>

</body>

</html>
