<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Griffins Geoffrey Adero - Software Engineer & Web Developer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="stylesheet" href="./css/register.css">
    <style>
        body{
            font-family: 'Rubik';
        }
    </style>
</head>

<body>

    <header>
        <div style="font-size: 42px;"><i class="fa fa-heartbeat" aria-hidden="true" style="color: #B53389; margin-top: 20px;"></i>
              Donation Hub</div>
        <div id="nav">
            <a href="/home-page">HOME</a>
            <a href="/donate-page"  >DONATE</a>
            <a href="/about-us-page">ABOUT US</a>
            <a href="/centers-page">CENTERS</a>
            <a href="/contact-us-page">CONTACT US</a>
        </div>
    </header>

    <div id="socials-links">
        
        <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a><br>
        <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true"></i></a><br>
        <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true"></i></a><br>
        <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>

    <div id="#mainbody" style="height:800px; margin-left: 80px; margin-top: 100px; font-size:28px; color: #B53389; font-family: 'Rubik';" >
        
        <div class="signup-container">
            <form  action="/signup" method="post" onsubmit="return validateForm()">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
    
                <p>Password should have at least 1 capital letter, a special symbol, and a minimum of 8 characters.</p>
    
                <button type="submit">Sign Up</button>
            </form>
    
            <a href="/">Already registered? Sign in</a>
        </div>
        
        
    </div>

    </div>

    <footer>
        <div id="contacts">
            <a href="/linkedIn-link"><i class="fa fa-linkedin" aria-hidden="true" style="color: #000"></i></a>  &nbsp;  &nbsp;
            <a href="/instagram-link"><i class="fa fa-instagram" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/facebook-link"><i class="fa fa-facebook" aria-hidden="true" style="color: #000;"></i></a>  &nbsp;  &nbsp;
            <a href="/twitter-link"><i class="fa fa-twitter" aria-hidden="true" style="color: #000;"></i></a>
            <p><i class="fa fa-phone" aria-hidden="true"></i>: &nbsp; +254719508717 <br>
            <i class="fa fa-envelope" aria-hidden="true"></i>: &nbsp; donationhub@gmail.com <br>
            &copy; 2024 Donation Hub Inc. All rights reserved.</p>
        </div>
        
        
    </footer>
    <script src="./js/register.js"></script>

</body>

</html>
